*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../images/abstract-art-background-633409.jpg");
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 66.50%;
    font-family: 'Lato', sans-serif;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:300px;
    margin-top: 150px;
}
.main{
    background-color: rgba(45, 52, 54, 0.6);
    padding: 20px;
    border-radius: 10px;
}
.profilepic{
    background-image: url("../images/profile.jpg");
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.icons{
    margin-top: 15px;
    text-align: center;
}
.icons ul li{
    display: inline-block;
    list-style: none;
    padding: 5px;
}
.icon{
    text-decoration: none;
    color: #fff;
    
}
.fab,.fas,.far{
    font-size: 30px;
    margin: 0px 10px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: 100;
 }
@media(max-width:800px){
    body{
        background-image: url("../images/mob.jpg");
        background-size: inherit;
        font-size: 50%;
    }
}